[2019-08-12 21:34] brminnick opened #4 "Upload Screenshots"

[2019-08-12 22:00] brminnick commented on #4
![ScreenFlow](https://user-images.githubusercontent.com/13558917/62901229-1cfdce80-bd11-11e9-8ac3-198ea23f1d27.gif)

[2019-08-12 22:00] #4 closed

[2019-08-12 22:09] brminnick opened #5 "Create App Icon"
Before publishing to the app stores, we'll need to create an icon

[2019-08-16 08:54] VladislavAntonyuk opened #6 "More platforms"
Is it possible to implement the same for UWP, WPF, GTK, macOS, Tizen, etc

[2019-08-16 17:09] brminnick commented on #6
Hi @VladislavAntonyuk

I'm currently focused on releasing this to the iOS App Store and Android's Google Play store in the next month and I personally don't have the bandwidth to add 5 more platforms.

To answer your question, however, Yes it is possible and I'd love some help. If you, or anyone, is interested, please don't hesitate to submit a PR!

[2019-08-21 23:58] brminnick opened #7 "Add Ability to Set Default Charts"
On the Settings Page, add toggles that allow the user to set which charts will be enabled on the TrendsPage by default

[2019-08-27 12:08] matteopiccioni opened #8 "Adding a Search Bar having a TabbedPage"
Hello,
sorry if I write here, but I was not able to find a way to write into your blog post

I try to add SearchBar into my project using the way you described here:
https://www.codetraveler.io/2019/08/10/adding-a-search-bar-to-xamarin-forms-navigationpage/

My main problem is that: in the iOS renderer my parent page is a Xamarin_Forms_Platform_iOS_TabbedRenderer and the SearchBar doesn't appears.

[2019-09-04 20:27] brminnick opened #9 "Use Azure Functions Dependency Injection"
https://docs.microsoft.com/azure/azure-functions/functions-dotnet-dependency-injection

[2019-10-26 00:15] saamerm commented on #5
Any ideas? What do you have in mind?
What are the 3 main colors you want to base it on?
And what's the font?
Just noticed you are just using the Xamagon, so a Logo would be good as well?

[2019-10-26 02:40] brminnick commented on #5
I have no clue - I’m not creative at all!

I was thinking it’s be cool to do something with the Octocat with a chart (assuming that’s allowed, legally)

[2019-10-26 02:41] brminnick commented on #5
I’d also be open to have a designer to a complete redesign of the app.

You can definitely tell that a developer, not a designer, created its UI.

[2019-10-26 03:06] saamerm commented on #5
Alright, let's work with what we have to publish it, and then redesign it in future iterations. You're sitting on something that could become very popular amongst developers who contribute to OSS!

I'll try to use some of the colors you already have in the app, and come up with a logo that's a cross between the Octocat and a picture [like this](https://www.techiexpert.com/wp-content/uploads/2018/0

[2019-10-29 18:08] brminnick commented on #5
Let’s stick with GitTrends, because it’s a play-on-words for “Get Trends”

[2019-10-29 18:15] saamerm commented on #5
Aight cool! I spoke to a designer and submitted an order. Do you just want 3 1024x1024 PNG files: 1) icon foreground, 2) icon background, 3) icon with foreground and background. Or do you want all the icon sizes?

[2019-10-29 20:23] brminnick commented on #5
Thanks @saamerm!

I’d prefer to get an SVG and the source file, eg `.PSD` for Photoshop.

[2019-11-03 02:47] saamerm commented on #5
Yo! So here's a logo! What changes would you like to see in it?
![logo](https://user-images.githubusercontent.com/8262287/68079596-703c6600-fdc2-11e9-94b6-0f1993cb2fd8.png)

[2019-11-04 19:59] brminnick commented on #5
Thanks Sameer! I love it!

I'll run it by the folks internally at GitHub to make sure it's kosher that I use the Octocat

[2019-11-04 20:58] brminnick commented on #5
Hey @saamerm - it looks like GitHub doesn't let you use the Octocat logo:

https://github.com/logos

[2019-12-05 22:47] brminnick commented on #5
Hey @saamerm!

Playing off the stylized `Git` icon, I played around with a less-stylized font, because I think it makes it a bit easier to read.

I still really love the octocat + chart logo and I'm super bummed we can't use it!

Let me know what you think!

Here's the source file:
https://github.com/brminnick/GitTrends/blob/master/Artwork/Icon.sketch

<img width="583" alt="image" src="https://use

[2019-12-06 04:43] saamerm commented on #5
So he can take this, do stuff with it. It looks alright as it is, what change do you want to see on it? Or do you just want it placed on a gradient background?
<img width="239" alt="image" src="https://user-images.githubusercontent.com/8262287/70296506-edd80500-17b8-11ea-9f6a-24ab33309a59.png">

[2019-12-06 19:39] brminnick commented on #5
My mockup just needs more polish. I don't know enough about graphic design to speak to how that is achieved, but my mockup definitely looks like someone without design experience made it (because that person is me 😆).

I love their concept of an upwards-trending chart overlaid on the word Git.   But I prefer to use a more legible font which is why I played around with [SF UI](https://developer.app

[2019-12-11 23:46] brminnick commented on #9
https://github.com/brminnick/GitTrends/commit/e4d7b87f98da2da28d8e35c27ee4647a2c21c20f

[2019-12-11 23:46] #9 closed

[2020-01-30 13:00] BrainBolder opened #12 "Maintain Android Search Bar State When Device Rotated"
how to make the search remain open after turning the screen, if you click on search and write there, and then turn the screen, then the search closes and you need to press the search again and enter?

[2020-02-10 00:01] brminnick commented on #5
https://github.com/brminnick/GitTrends/commit/dc0e29868c9ae8aba4b20e17d43ed40f5afca7af

[2020-02-10 00:01] #5 closed

[2020-02-10 06:38] brminnick commented on #12
This happens because Android redraws the UI when the user rotates the device. When Android redraws the UI, we have to manually re-add the SearchBar, which we do [in `OnSizeChanged`](https://github.com/brminnick/GitTrends/blob/09e95a4abcd03eeeea7bde234b2f236d7cdb8ce2/GitTrends.Android/CustomRenderers/SearchPageRenderer.cs#L38-L44), but the SearchBar's state has been lost.

The fix requires maintain

[2020-02-12 15:43] brminnick commented on #4
![LoadRepositories](https://user-images.githubusercontent.com/13558917/74350902-43a5cc00-4d6b-11ea-8c9f-c1bafbfcb415.gif)

[2020-02-12 15:52] brminnick commented on #4
![ViewRepo](https://user-images.githubusercontent.com/13558917/74351618-363d1180-4d6c-11ea-8244-dc2e1c6cdfe4.gif)

[2020-02-12 15:54] brminnick commented on #4
![ReferringSite](https://user-images.githubusercontent.com/13558917/74351991-b9f6fe00-4d6c-11ea-9eb5-57260493256b.gif)

[2020-02-12 15:56] brminnick commented on #4
![SplashScreen](https://user-images.githubusercontent.com/13558917/74352080-dbf08080-4d6c-11ea-95df-00a3bf6e3602.gif)

[2020-02-12 16:00] brminnick commented on #4
![SplashScreen](https://user-images.githubusercontent.com/13558917/74352655-abf5ad00-4d6d-11ea-9e8d-2643bd321b94.gif)

[2020-02-12 18:23] brminnick commented on #4
![Picture1](https://user-images.githubusercontent.com/13558917/74364835-c20d6880-4d81-11ea-9718-0edb8fc0432c.png)

[2020-02-18 18:47] brminnick opened #19 "Implement Azure Key Vault for GetSyncFusionInformation Function"
https://codemilltech.com/mobile-apps-azure-keyvault-dont-do-it/

[2020-02-18 20:29] brminnick commented on #19
https://daniel-krzyczkowski.github.io/Integrate-Key-Vault-Secrets-With-Azure-Functions/

[2020-02-18 21:47] #19 closed

[2020-02-25 02:02] brminnick commented on #4
![RepsitoriesLight](https://user-images.githubusercontent.com/13558917/75208228-d5301900-572f-11ea-850e-1847cb9d00cd.gif)

[2020-02-25 02:04] brminnick commented on #4
![TrendsChartLight](https://user-images.githubusercontent.com/13558917/75208295-0c9ec580-5730-11ea-8032-28527a041cb6.gif)

[2020-02-25 02:05] brminnick commented on #4
![ReferringSitesLight](https://user-images.githubusercontent.com/13558917/75208328-30faa200-5730-11ea-92c7-d316f6cb39e6.gif)

[2020-02-25 02:06] brminnick commented on #4
![TrendsChartLight](https://user-images.githubusercontent.com/13558917/75208368-5091ca80-5730-11ea-8602-8c63244bf229.gif)

[2020-02-25 02:07] brminnick commented on #4
![RepositoriesLight](https://user-images.githubusercontent.com/13558917/75208427-77500100-5730-11ea-9654-7255ed051536.gif)

[2020-02-29 04:58] brminnick commented on #4
![GitTrends_Light@3x](https://user-images.githubusercontent.com/13558917/75601130-1b0d1a00-5a6d-11ea-8bdc-204c65a70d52.png)

[2020-02-29 19:11] brminnick commented on #4
![512x512](https://user-images.githubusercontent.com/13558917/75613580-2baca700-5ae4-11ea-8f3c-8ad1a8ace8ef.png)

[2020-03-02 19:50] brminnick commented on #4
![google-play-badge](https://user-images.githubusercontent.com/13558917/75711839-e0c59780-5c7b-11ea-9f41-8676d408fc32.png)

[2020-03-02 19:51] brminnick commented on #4
![Download_on_the_App_Store_Badge_US-UK_blk_092917](https://user-images.githubusercontent.com/13558917/75712068-34d07c00-5c7c-11ea-80c0-ae31d2efdbfc.png)

[2020-03-02 19:54] brminnick commented on #4
![google-play-badge](https://user-images.githubusercontent.com/13558917/75712286-8d077e00-5c7c-11ea-86f0-cd693630eee0.png)

[2020-03-02 19:56] brminnick commented on #4
![Download_on_the_App_Store_Badge_US-UK_blk_092917](https://user-images.githubusercontent.com/13558917/75712432-c344fd80-5c7c-11ea-8151-cb2e35edc4f7.png)

[2020-03-02 19:57] brminnick commented on #4
![Download_on_the_App_Store_Badge_US-UK_blk_092917](https://user-images.githubusercontent.com/13558917/75712535-ed96bb00-5c7c-11ea-8bd4-e9bd36365bb2.png)

[2020-03-02 22:54] jamesmontemagno opened #23 "Option for Public only repos"
Current permissions ask for public & private, any way to change this or make it optional?

[2020-03-02 23:11] brminnick commented on #23
Great feedback! I remember having trouble requesting only public repos when first putting the app together, but I'll dig into it to see if we can make it happen 👍

[2020-03-03 01:03] Pujolsluis opened #24 "Pull to Refresh of CollectionView in ReferringSites Page crashes app"
**Describe the bug**
When trying to perform a pull to refresh on the ReferringSitesPage app crashes with an **Java.Lang.IndexOutOfBoundsException: Inconsistency detected. Invalid view holder adapter positionTemplatedItemViewHolder** Exception.

Might be related to this issue reported in Xamarin.Forms repo: https://github.com/xamarin/Xamarin.Forms/issues/9753

**StackTrace**
https://gist.github.com

[2020-03-03 02:41] brminnick commented on #24
Thanks for the workaround in the PR, @Pujolsluis!

We'll keep an eye on the [Xamarin.Forms Issue](https://github.com/xamarin/Xamarin.Forms/issues/9753) and keep this up-to-date.

[2020-03-03 17:30] brminnick opened #27 "Referring Sites Slow to Load"
The Referring Sites page sometimes takes a while to load.

This can be improved by deferring retrieval of the FavIcon, and displaying the list while the site icons are being retrieved.

[2020-03-03 17:38] brminnick opened #28 "Improve Color Palette"
- Ensure [a11y accessibility](https://color.a11y.com)
- Improve the contrast on the Trends Chart
- Change Background color to White for Light Theme
- Change Background color to [TBD] for Dark Theme

[2020-03-03 18:35] brminnick commented on #27
Fixed in v0.10.6

b0612e354809d5bfd56a243172b8209b9580c263

[2020-03-03 18:35] #27 closed

[2020-03-03 18:43] brminnick opened #29 "Report to User When TrendsViewModel Fails to Retrieve Data"
Currently, when `TrendsViewModel.ExecuteFetchDataCommand` fails, the page remains blank.

Instead, let's update the UI to show a prompt letting the user know that it failed because of internet connectivity.

[2020-03-03 22:36] brminnick opened #31 "Improve First Run Experience"
Let's create a better, more welcoming, first-run experience.

Currently, on first run, users are greeted with an error:
![Image from iOS](https://user-images.githubusercontent.com/13558917/75826351-32ddea00-5d5c-11ea-9db0-2e3a2dbf314f.png)

[2020-03-03 22:39] brminnick opened #32 "Implement Sorting on Repositories Page"
Allow the user to sort Repositories.

Currently, all repositories are sorted by Star count.

Potential Sorting Categories:
- [x] Issues
- [x] Forks
- [x] Unique Views
- [x] Total Views
- [x] Unique Clones
- [x] Total Clones

[2020-03-03 23:38] brminnick commented on #23
GitHub doesn't allow me to only request read access for public repos. The best I can do is "public_repo" which limits it to public repos, but is read/write: https://t.co/rEUgYq7Cuc?amp=1

![image](https://user-images.githubusercontent.com/13558917/75830184-f367cb80-5d64-11ea-96c8-cee5bcdb8161.png)

[2020-03-03 23:39] brminnick commented on #23
Fixed in https://github.com/brminnick/GitTrends/commit/3280098616416dbb3e1978e8774a3aadf19327da

Released in v0.10.9: https://github.com/brminnick/GitTrends/releases

[2020-03-03 23:39] #23 closed

[2020-03-03 23:43] brminnick commented on #24
I ended refactoring the entire `ReferringSitesViewModel`, replacing `ObservableCollection` with `IReadOnlyList`.

It's a bit of a nuclear option, but it works around the Xamarin.Forms issue which is specific to `ObservableCollection`

Fixed in: https://github.com/brminnick/GitTrends/commit/b0612e354809d5bfd56a243172b8209b9580c263

Released in v0.10.7: https://github.com/brminnick/GitTrends/release

[2020-03-03 23:43] #24 closed

[2020-03-04 00:59] jamesmontemagno commented on #23
Yay!

[2020-03-04 02:12] Pujolsluis commented on #24
Yup that seems better for now, great job!

[2020-03-04 16:33] sasakrsmanovic opened #33 "Implement Star Tracking"
It would be great to have a way to track and graph stars even for repos that aren't owned by me. i.e. similar to this https://star-history.t9t.io/

[2020-03-05 01:30] Pujolsluis commented on #28
Will work on some proposals for this issue 💭

[2020-03-06 14:06] MaximRouiller opened #35 "Implement favorites"
My list of repositories is large and the repositories I'm looking for are, somehow, always at the bottom of the list. :cry:

[2020-03-09 18:45] bricefriha commented on #31
How would you like to change it?

[2020-03-09 19:31] brminnick commented on #31
@bricefriha I'd love to hear your initial thoughts as well!

I was thinking of creating a Welcome Page that would be displayed during the first-run of the app. In my head, I'm picturing a carousel page: First page introduces GitTrends; the next page explains how to use the charts (zooming in/out long pressing to see numeric values); and the final page explains how to get started by connecting to G

[2020-03-09 20:55] bricefriha commented on #31
Alright, seems nice!
I can work on it if you want

[2020-03-09 21:09] brminnick commented on #31
That'd be amazing! Thank you so much!!!

[2020-03-10 20:13] bricefriha commented on #31
Perfect!
I'm working on it!
By the way, do you have a deadline for this issue?

[2020-03-10 20:15] brminnick commented on #31
Thanks! No hard deadlines. I'm grateful for the assistance 💯

[2020-03-10 20:20] bricefriha commented on #31
Great !! :smiley:

[2020-03-15 21:03] #32 closed

[2020-03-16 16:09] brminnick opened #38 "Trends Notifications"
Send a notification to the user when traffic to one of their GitHub repos is trending.

or

- [x] Perform work locally using background workers
- [x] Enable Local Notifications
- [x] Batch notifications together
- [x] Deep Link to specific repo (if only one)
- [ ] Add `Enable Push Notifications` button to `SettingsPage`
- [x] Add a `Trending` tag to repo on the `Repository` list
- [x] Add SortingO

[2020-03-17 20:15] Pujolsluis commented on #31
Hey @bricefriha !

Thanks for helping out :D, I'm currently also helping out with some proposals for the redesign of the UI in the ap, so wanted to add you in the loop and see what is your progress with the onboarding experience so far so we can merge ideas and collab💪

[2020-03-17 20:30] bricefriha commented on #31
@Pujolsluis Yes it's great! That's my first experience on a open source project but I like this.  I'm quite busy these days, though, but I'd like to contribute further! 😃

[2020-03-17 23:53] Pujolsluis commented on #31
Ohh got it! @bricefriha looking forward to your contributions. in that case I'll try and take a stab at it since I got some free time today, and upload my proposals here 😃

[2020-03-18 00:44] brminnick commented on #31
Thanks Luis!

@bricefriha I'd love to keep you on to help us review and critique it too!

**Update**
I just [recently added Notifications](https://github.com/brminnick/GitTrends/commit/4ab6a032ecb4245f7c2e2f40f87f8602a689394b), and I'd like to add that to the First-Run Dialog too.

Here's what I'm thinking now, and still totally flexible to tweaking everything, including the text:
- [ ] 1st Carous

[2020-03-18 11:08] bricefriha commented on #31
Alright, I already began making the carousel view I just have to update the content now and add the connection button . 🙂
Do you have a gif for the notifications' feature?

[2020-03-18 16:42] brminnick commented on #31
Nice! Let's lock down the design first and then we'll know the height & width dimensions for making the GIF.

@bricefriha & @Pujolsluis - when you get a chance, upload your designs here so we can all check them out!

[2020-03-18 22:01] bricefriha commented on #31
## Here's what I have so far:

- ### 1st Carousel View: Introduce GitTrends
![Screenshot_2020-03-18-22-45-56-180_com minnick gittrends](https://user-images.githubusercontent.com/37577669/77011247-b8bc8080-696b-11ea-95aa-7d4ec32b09db.jpg)

- ### 2nd Carousel View: Explain how to use the charts

![Screenshot_2020-03-18-22-46-01-564_com minnick gittrends](https://user-images.githubusercontent.com/375

[2020-03-19 00:55] Pujolsluis commented on #31
Great job @bricefriha !

We loved the idea of customizing the bullet points and the copy you generated for each 👌 , I also got to finish my proposals for the app, I'll publish all the designs more detailed but here are the onboarding ones. any feedback is well received to keep improving it together. I love that we had similar ideas for the first 2 boards haha.

PD: Took your copy and added it in 👍

[2020-03-19 01:14] Pujolsluis commented on #28
Here is the suggested color palette for the Dark/Light themes for the app, which I used for my UI/UX proposals:
![Screen Shot 2020-03-18 at 9 12 42 PM](https://user-images.githubusercontent.com/16939480/77021570-73915200-695d-11ea-8d71-889e0b188640.png)

[2020-03-19 01:18] bricefriha commented on #31
@pujolsluis Great I love your little pictures on the lasts 2 ! make me think of Microsoft Teams welcome page it's sweat!
Your design skills are way better of course 😅
Though, that would be cool to put two gifs in the second page, one with the "tap to display the numbers" and another one for the zoom in/out.

By the way, If you're working on the UI enhancement, I believe this would be a good idea t

[2020-03-19 02:07] Pujolsluis commented on #31
Thanks! I'm glad you liked it @bricefriha , my hack to designing is using a design guideline like material design in this case 😋. check it out when you have the time.

Yup that's a good idea to add 2 gifs on just one with the succession of the actions🤔, we got to test which one works better hehe.

I think there is no main issue with UI/UX enhancement, but it is a good idea to have a starting point

[2020-03-19 06:41] bricefriha commented on #31
@Pujolsluis Thanks for recommending your design guidelines.

Yeah let's test if putting 2 gifs looks OK or not 😁

[2020-03-19 23:38] #38 closed

[2020-03-19 23:40] brminnick opened #41 "Add `Enable Notifications` Button to Settings Page"
Now that GitTrends pushes notifications for trending repositories, let's add an `Enable Notifications` button on the Settings Page to make it easy for users to enable notifications

[2020-03-19 23:51] brminnick commented on #28
Love it!

When you get a chance, open PR and add this new color palette and any updated artwork to the `Artwork` folder!

Then we'll close this issue and focus on #31 next!

[2020-03-19 23:54] brminnick commented on #31
Nice!

For the GIF, we should be able to have one long looping GIF that first shows zooming in, then zooming out, then long-pressing to see the values, and loops back to the beginning.

I'll make the GIF on that once I've updated the UI with @Pujolsluis awesome new designs in #28.

[2020-03-20 01:03] Pujolsluis opened #42 "App UI/UX redesign"
- Improvements to color palette Light/Dark themes #28
- Rebranding of the app with a new color palette #28
- UI/UX Enhancement in the following areas:
    -  First launch and authentication flow of the app. #31
    - List's Item templates for repo's and referring sites.
    - Repo insights page and interacting with graph experience.
    - Settings page and the addition of enabling dark mode and no

[2020-03-20 19:40] Pujolsluis commented on #42
- Improvements to color palette Light/Dark themes #28
- Rebranding of the app with a new color palette #28

    **Rebranding of Logo with colors from palette**
    ![Screen Shot 2020-03-20 at 3 25 47 PM](https://user-images.githubusercontent.com/16939480/77200430-e6ffa480-6ac0-11ea-8a32-7f05ee2949fe.png)

- UI/UX Enhancement in the following areas:
    -  First launch and authentication flow of th

[2020-03-21 00:02] Pujolsluis commented on #42
**Icons & Components**
![Screen Shot 2020-03-20 at 8 01 33 PM](https://user-images.githubusercontent.com/16939480/77214453-a0707100-6ae5-11ea-81f1-bcf995d0d991.png)

**Branded Dark Surface and Elevations**
![Screen Shot 2020-03-20 at 7 57 47 PM](https://user-images.githubusercontent.com/16939480/77214378-4079ca80-6ae5-11ea-8a5e-12ee200a600c.png)

[2020-03-21 01:23] Pujolsluis commented on #31
Hey @bricefriha , just uploaded the rest of the redesigns, in issue #42 you can go check it out and give us your feedback and ideas 👍

[2020-03-21 11:07] bricefriha commented on #42
Just perfect, Great job, I love it! 👏🏼

[2020-03-23 21:29] brminnick commented on #41
Added in v0.12.0: https://github.com/brminnick/GitTrends/releases/tag/v0.12.0

[2020-03-23 21:29] #41 closed

[2020-03-23 21:30] brminnick commented on #28
Awesome work, Luis!

Closing this now that we've finalized the color palate so that we can focus on #42 🙌

[2020-03-23 21:30] #28 closed

[2020-03-27 00:51] Pujolsluis opened #46 "App crashes when user touches outside of the sort dialog"
**Describe the bug**
When trying to perform outside of the Repositories page sort dialog, app crashes with an **System.InvalidOperationException: Sequence contains no matching element** Exception.

**StackTrace**
https://gist.github.com/Pujolsluis/1b57f2c3c34258d0db00984799c0467c

**To Reproduce**
Steps to reproduce the behavior:
1. Open App
2. Connect Account
3. Tap the sort option in the Repos P

[2020-03-27 00:53] Pujolsluis commented on #46
Will be fixing this issue in my upcoming PR's related to #42 , the problem was related to a null check.

[2020-03-27 01:05] Pujolsluis opened #47 "Repositories stats text sometimes don't show if their value is 0"
**Describe the bug**
When looking at my list of repos I noticed that some repos clones or unique clones stats only show the icon and not the text label, looking further into the issue I noticed it's because they have 0 in those stats atm.

**To Reproduce**
Steps to reproduce the behavior:
1. Open App
2. Connect Account
3. Search for a Repo that has 0 clones or unique clones in the last month.

**S

[2020-03-27 01:06] Pujolsluis commented on #47
Will be fixing this issue in my upcoming PR's related to #42 .

[2020-03-27 20:43] brminnick commented on #47
On it!

In `Repository.cs`, if `IEnumerable<DailyViewsModel>? views` and `IEnumerable<DailyClonesModel>? clones = null` are not null, we need to ensure there are no missing days.

I already have the logic written in `TrendsViewModel.cs` [here](https://github.com/brminnick/GitTrends/blob/b1a013a4c98a3455e2cd84b24b7b21b93a4a4c45/GitTrends/ViewModels/TrendsViewModel.cs#L151).

I'll move `void AddMiss

[2020-03-27 21:15] #47 closed

[2020-03-27 21:37] #46 closed

[2020-04-13 23:32] brminnick opened #63 "GitHub API Rate Limit"
GitHub APIs have a rate-limit of 5000 requests per user per hour.

It is unlikely a GitTrends user will reach this limit, however it's a good idea to keep this issue open to handle future scenarios when it may happen.

https://developer.github.com/v3/#rate-limiting

[2020-04-29 00:03] #29 closed

[2020-04-29 00:04] brminnick commented on #12
The new UI update (v1.0 releasing soon) removes the landscape orientation

[2020-04-29 00:04] #12 closed

[2020-04-29 00:04] #31 closed

[2020-04-29 00:06] #42 closed

[2020-04-30 18:28] brminnick opened #72 "Add Unit Tests"

[2020-05-02 07:31] brminnick commented on #63
EmptyDataView visible during search results

![image](https://user-images.githubusercontent.com/13558917/80858138-2f57c980-8c0c-11ea-998a-992ef882a4b1.png)

[2020-05-06 04:33] #63 closed

[2020-05-07 01:40] brminnick commented on #4
![Trends](https://user-images.githubusercontent.com/13558917/81244925-8670ec00-8fc8-11ea-93bb-4f7c4a69911f.gif)
![Repositories](https://user-images.githubusercontent.com/13558917/81244925-8670ec00-8fc8-11ea-93bb-4f7c4a69911f.gif)
![ReferringSites](https://user-images.githubusercontent.com/13558917/81244925-8670ec00-8fc8-11ea-93bb-4f7c4a69911f.gif)

[2020-05-07 01:45] brminnick commented on #4
![Trends](https://user-images.githubusercontent.com/13558917/81245127-12831380-8fc9-11ea-84be-bfe3b8b05d48.gif)
![ReferringSites](https://user-images.githubusercontent.com/13558917/81245371-a523b280-8fc9-11ea-8b48-1a08414e5920.gif)

[2020-05-10 04:58] developer9969 opened #76 "Question: Functions Key storage in a mobile app"
Hi there,
This is a question I cannot find the answer anywhere, hence why I looked at  your code to see how you approached it.

If you have a function with AuthorizationLevel=Function
Where do you store the functionKey? I noticed you hardcode it within the app.(fine for demo)

What is the best practice? Can you use vault in a mobile app? Microsoft.Identity with silent call . How?
Struggling for da

[2020-05-11 09:41] bricefriha commented on #72
Is there a specific type of function you want to test?  🙂

[2020-05-11 20:55] bricefriha commented on #35
We could a SqlLite table to store all repositories marked as favorite.
This table would have a column which would content the id of the github account logged in (or at least something to identify it).
In case, for instance, the user want to login with another account, he shouldn't end up with the favorite repositories of the previous account.

Tell me what you think?

(sorry, in my mind that sound

[2020-05-13 16:49] brminnick commented on #76
I see you've asked a similar question on StackOverflow. I'll follow up there: https://stackoverflow.com/questions/61401827/secure-azure-function-in-xamarin-forms-app-how-should-it-work

[2020-05-13 16:49] #76 closed

[2020-05-14 01:16] brminnick commented on #4
![TrendsLight](https://user-images.githubusercontent.com/13558917/81881263-921e5e80-9544-11ea-9bf8-a85ae9b59191.gif)
![ReferringSitesLight](https://user-images.githubusercontent.com/13558917/81881331-c6921a80-9544-11ea-93cc-0dbe222de0f9.gif)
![RepositoriesLight](https://user-images.githubusercontent.com/13558917/81881433-02c57b00-9545-11ea-920c-27b5b54f19c1.gif)
![RepositoriesDark](https://user-im

[2020-05-14 01:23] brminnick commented on #4
![TrendsDark](https://user-images.githubusercontent.com/13558917/81882124-c561ed00-9546-11ea-902f-c77f42e78f18.gif)

[2020-05-18 19:13] brminnick commented on #72
Hey @bricefriha!

I've started working on the Unit Tests in this branch: https://github.com/brminnick/GitTrends/tree/Unit-Tests

To start, most of the tests will be testing common scenarios, and I'd love some help writing Unit Tests for the edge cases 💯

I'll ping you once I've merged it into master and we can chat about making the test suite more robust!

[2020-05-18 21:23] bricefriha commented on #72
Great !!😃 I'm in 😉

[2020-05-21 17:00] brminnick opened #80 "Adjust Text Size for Small Screens"
Screenshot from Samsung S20

![image](https://user-images.githubusercontent.com/13558917/82584778-d5329000-9b49-11ea-9d15-438943f0a2cb.png)

[2020-05-21 23:09] brminnick opened #81 "Create RESX for i18n"

[2020-05-22 21:25] #80 closed

[2020-05-27 22:16] brminnick opened #85 "About Page"
Create an About Page that gives thanks to the fellow open source contributors and open source libraries being used in GitTrends.

The About page can also point users to the GitTrends GitHub repository for filing bugs and making feature suggestions.

[2020-05-28 15:58] brminnick opened #86 "Implement Xamarin.Essentials.WebAuthenticator"
`WebAuthenticator` utilizes `ASWebAuthenticationSession` on iOS which allows for more flexibility in setting session ids and cookies.

https://docs.microsoft.com/xamarin/essentials/web-authenticator

[2020-05-29 16:59] Happypig375 opened #87 "Referral sites should show individual pages"
In GitHub, you can see individual pages under referral sites in Traffic. It would be really useful to expose this data via GitTrends instead of opening the site root upon pressing the site.

[2020-05-29 17:05] brminnick commented on #87
Thanks for the feedback!

To help me understand the feature request, are you asking to see both Referring Sites data and Views/Clones data on the same page?

I.e., When you tap on a repository to see its views/clones chart you’d also like to see the Referring Sites data on the same page without needing to tap on the Referring Sites icon.

Am I on the right track?

[2020-05-29 17:09] brminnick commented on #87
Ah - I see now!

On GitHub, you can tap on the referring site to see the actual website from the specific domain.

Love it! I’ll have to dig into the GitHub API to see if they expose this data 👍

| Referring Sites | Domains |
| —————— | ————- |
| ![image](https://user-images.githubusercontent.com/13558917/83286160-53b7af00-a194-11ea-811f-31db6fa33e22.jpeg) | ![image](https://user-images.githubuser

[2020-05-29 23:48] jchristn opened #88 "Cool app, thanks for making it!"
No issue, just wanted to say thank you for making this app!

[2020-05-29 23:48] #88 closed

[2020-05-30 01:33] brminnick commented on #88
Thanks so much!!

[2020-05-30 04:50] Happypig375 opened #89 "Also graph watchers and forks"
In addition to stars (#33).

[2020-05-31 15:26] Carl-Hugo opened #90 "The App is not loading all of my repos"
Great app, but it seems to load only a subset of my GitHub repositories, based on no definable criteria that I can see. I granted the app access to my personal account and two organizations (that I use to organize my OSS projects). I did not count, but it seems like around 20 repos.

Related-ish (maybe) info: a similar subset of repositories are loaded when I use Azure DevOps to connect to GitHub,

[2020-05-31 16:08] brminnick commented on #90
Can you confirm that you have push access to the missing repos?

GitHub’s Traffic API only returns views/clones data if you have push access:

https://developer.github.com/v3/repos/traffic/

[2020-05-31 22:27] Carl-Hugo commented on #90
Thanks for that quick reply; yes, I have push access, I've created the orgs and the repos and I'm the only member of those orgs.

[2020-05-31 22:39] Carl-Hugo commented on #90
I was curious and tried to call the API directly, and for some reason, it is telling me `Must have push access to repository`... I'll investigate a bit more and repost here when I figure out the problem with this.

[2020-05-31 22:42] brminnick commented on #90
Strange!

If you're comfortable sharing the repository url with me, I can look into it on my side too.

Keep me posted with your findings! I'll assign this to you for now as you continue the investigation 👍

[2020-05-31 22:43] Carl-Hugo commented on #90
Just edited...

Working: `/repos/ForEvolve/bootstrap-dark/traffic/popular/referrers`
Not Working: `/repos/ForEvolve/ForEvolve.AspNetCore.Localization/traffic/popular/referrers`

[2020-05-31 22:54] Carl-Hugo commented on #90
If I add myself manually to the repo, it works...
![image](https://user-images.githubusercontent.com/5885505/83364529-da74b380-a36f-11ea-8c5f-d411db2f66a9.png)

That's a bit weird that I'm implicitly the Admin of the Org and the Repo, but since I'm not explicitly there, it does not work...

Well, sorry about bothering you with this, that's on the @GitHub side, I guess. 🍻

[2020-05-31 22:54] #90 closed

[2020-06-01 01:17] Happypig375 opened #94 "Cache graph data and show it later"
So that data of more than two weeks can be viewed at once.

[2020-06-01 01:18] Happypig375 opened #95 "Network graphs"
I would like to keep track of forks that may have new commits.

[2020-06-02 23:54] brminnick commented on #86
`Xamarin.Forms.WebAuthenticator` does not return GitHub OAuth results for Android.

_Pending meeting with Xamarin.Essentials team_

[2020-06-02 23:56] brminnick commented on #86
Work being done in this branch: https://github.com/brminnick/GitTrends/tree/Xamarin.Essentials.WebAuthenticator

[2020-06-07 23:44] brminnick commented on #72
Hey @bricefriha!

I just finished merging the unit tests into master.

I'm positive that there's a lot of scenarios I've missed, and if you're still interested in writing some tests, I'd love the help! I'll assign this over to you for now 👍

[2020-06-08 10:33] bricefriha commented on #72
Great, I'll check this out!

[2020-06-15 23:02] #81 closed

[2020-06-15 23:28] brminnick opened #103 "Add Spanish Translations"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-15 23:33] brminnick opened #104 "Add German Translations"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-15 23:34] brminnick commented on #103
Assigning to @Pujolsluis

[2020-06-15 23:38] Pujolsluis commented on #103
I got you!

[2020-06-15 23:42] brminnick opened #105 "Add Portuguese (Portugal) Translations"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-15 23:44] brminnick opened #106 "Add Russian Translation"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-15 23:45] brminnick opened #107 "Add French Translations"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-15 23:47] brminnick opened #108 "Add Chinese Translations"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-15 23:48] brminnick opened #109 "Add Dutch Translations"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-16 05:07] VincentH-Net commented on #109
I doubt if many of the Dutch speaking devs using GitHub would prefer / value a Dutch translation? In my experience, Dutch devs just prefer to use software in English.

It is just annoying when you need to google stuff and you have to guess what the English term in your Dutch software was (cough Windows). Also, GitHub content is all English.

[2020-06-16 15:04] brminnick commented on #109
Thanks Vincent!

I'll leave the issue open for sake of posterity, but I'll remove it from the v2.0 Milestone.

[2020-06-17 08:18] lothrop commented on #104
I can do this.

[2020-06-17 18:03] Veroni4ka commented on #106
Hi! I can help you with Russian translation

[2020-06-18 01:43] vitorsaldiva commented on #105
Do you need pt-br or pt-pt translation? There is nuances between these languages...

[2020-06-18 01:49] jwoeste commented on #105
Hey Brandon

I can do the scandinavian languages (Danish, Swedish, Norwegian) if needed :)

(Would be a fun intro to resx as well).

Cheers and kudos for great presentations, a great app and code inspiration!!!

//Jens

[2020-06-18 05:45] brminnick commented on #105
@vitorsaldiva Do you recommend that we do both? I could open another feature request for pt-pt and edit this one for pt-br.

[2020-06-18 05:46] brminnick commented on #105
@jwoeste That’d be awesome!!

Could you open another issue for each of the other languages? You can copy/paste this issue and just tweak the language.

[2020-06-18 10:32] bricefriha commented on #107
I'll check this out as soon as I can 😉

[2020-06-18 13:30] jfversluis commented on #109
While I understand Vincent's sentiment, I don't see why we shouldn't provide the users with a choice. I'm willing and able to take this one!

[2020-06-18 13:33] brminnick commented on #109
Sounds good, Gerald 👍

I’ll also add a language picker to the Settings page to allow users to select a language other than the default.

[2020-06-18 13:35] brminnick opened #110 "Add Language Picker"
On the Settings page, add a Language picker to allow users to select the language of their choice.

The Picker will default to the language of the device.

[2020-06-18 15:44] jfversluis commented on #109
I think `AppStoreRatingRequestConstants.resx` is missing from the above list, right?

[2020-06-18 15:45] brminnick commented on #107
Awesome! Can I assign it to you, @bricefriha?

[2020-06-18 15:51] brminnick commented on #87
Found the Top Referral Paths in the GitHub API Docs:
https://developer.github.com/v3/repos/traffic/#get-top-referral-paths

[2020-06-18 17:15] bricefriha commented on #107
Sure!

[2020-06-18 17:51] brminnick commented on #107
Thanks Bryce!

Are you still working on #72? Or can I go ahead and close that one?

[2020-06-18 21:50] lothrop commented on #104
I've added #111. I didn't add the code generators as the code only has to be generated for one language (it would be the same for each language).

[2020-06-18 22:50] bricefriha commented on #107
Well, to be honest with you, I didn't have enough time to look at it yet... 😅

[2020-06-19 02:39] brminnick commented on #107
No worries! I’ll close it out for now, and we can always add more unit tests later 👍

[2020-06-19 02:40] #72 closed

[2020-06-19 10:04] jfversluis opened #114 "OS dialog/control localization"
Not a major issue, but something to take into account in light of the localizations is that some extra work needs to be done in order to translate OS dialogs and labels. For instance, while testing my translations I came across this:

![image](https://user-images.githubusercontent.com/939291/85121202-abda5200-b224-11ea-85a6-d52959474904.png)

The phone is set to Dutch, but since you don't set the

[2020-06-19 10:12] jfversluis opened #115 "Onboarding Screen -> Enable Notifications button not localized"
In the background of the below screenshot you can see the that Enable Notifications text is not localized. This is not in the resx files.

![image](https://user-images.githubusercontent.com/939291/85121965-1770ef00-b226-11ea-8888-7aa14e19e7a5.png)

[2020-06-19 17:30] #104 closed

[2020-06-19 17:37] khalidabuhakmeh opened #116 "Motion Graphic - Upload"
Here is the MP4 zipped... because GitHub doesn't support MP4 :\

[GitTrends.mp4.zip](https://github.com/brminnick/GitTrends/files/4806008/GitTrends.mp4.zip)

[2020-06-19 17:51] brminnick commented on #116
Beautiful! Thank you so much!!!

[2020-06-19 17:51] #116 closed

[2020-06-19 17:59] brminnick commented on #4
![GitTrends](https://user-images.githubusercontent.com/13558917/85166088-a4627b00-b21b-11ea-95ab-5224b48df6bb.gif)

[2020-06-19 18:09] brminnick commented on #4
![GitTrends](https://user-images.githubusercontent.com/13558917/85167001-fc4db180-b21c-11ea-9055-bddb158542a7.gif)

[2020-06-19 20:10] #106 closed

[2020-06-19 20:49] #109 closed

[2020-06-19 20:52] brminnick commented on #115
Good catch! Fixed ✅

[2020-06-19 20:52] #115 closed

[2020-06-19 20:55] brminnick commented on #114
Good catch! I updated the `info.plist` to include `de` and `ru` too.

I'll look into this on Android 👍

[2020-06-19 21:29] brminnick opened #119 "Add Portuguese (Brazil) Translations"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-19 21:32] brminnick commented on #105
@vitorsaldiva I've changed this Issue to focus on `pt-PT` and opened #119 to focus on `pt-BR`

Let me know if you have the time to do the translations and I'll assign one (or both) to you! 🤗

[2020-06-19 21:35] brminnick opened #120 "Add Danish Translations"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-19 21:36] brminnick opened #121 "Add Swedish Translations"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-19 21:38] brminnick opened #122 "Add Norwegian Translations"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-19 21:40] brminnick commented on #105
@jwoeste I went ahead and opened these Feature Requests

- 🇸🇪 https://github.com/brminnick/GitTrends/issues/121
- 🇳🇴 https://github.com/brminnick/GitTrends/issues/122
- 🇩🇰 https://github.com/brminnick/GitTrends/issues/120

If you're able to work on them, leave a comment on each issue and then I'll be able to assign them to you! 🙌

[2020-06-19 22:22] jwoeste commented on #120
Able (over the weekend) - Currently occupied with a workaround for https://github.com/xamarin/Xamarin.Forms/issues/11101

[2020-06-19 22:23] jwoeste commented on #121
Able (over the weekend) - Currently occupied with a workaround for https://github.com/xamarin/Xamarin.Forms/issues/11101

[2020-06-19 22:23] jwoeste commented on #122
Able (over the weekend) - Currently occupied with a workaround for https://github.com/xamarin/Xamarin.Forms/issues/11101

[2020-06-19 22:26] jwoeste commented on #105
Just commented on each.

As stated I will do them over the weekend. Should have listened to you in the first place and not do XAML at all ;)

[2020-06-19 22:41] brminnick commented on #121
Thanks so much, Jens!!

[2020-06-19 22:42] brminnick commented on #120
Thanks so much, Jens!!

[2020-06-19 22:44] brminnick commented on #122
Thanks so much, Jens!!

[2020-06-20 23:57] Pujolsluis opened #124 "Add resx file for ReferringSites Template"
We need to add a resx file for the Titles in the ReferringSites Template.
![image](https://user-images.githubusercontent.com/16939480/85213733-4d9a9580-b330-11ea-8315-5f1774a563d0.png)

[2020-06-21 00:04] Pujolsluis opened #125 "Onboarding Label for Help Text Cuts out"
Text for the label that holds the help text, cuts out some of the string.

**Should say:** "GitTrends ayuda a monitorear tus repositorios de GitHub:"

![image](https://user-images.githubusercontent.com/16939480/85213754-b7b33a80-b330-11ea-9435-c66924a1083b.png)

**Should say:** "Las gráficas muestran todo el tráfico relacionado con tu repositorio:"

![Screenshot_20200620-200257](https://user-image

[2020-06-21 00:18] #103 closed

[2020-06-22 15:09] #107 closed

[2020-06-22 18:44] brminnick opened #128 "Add Ukrainian Translations"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-22 18:46] virsanna commented on #128
here

[2020-06-22 18:53] brminnick commented on #128
Thanks Vira!! 🎉

[2020-06-22 20:10] brminnick commented on #87
Marking this as `blocked`, because it doesn't look like GitHub has an API for **Domains**.

If I've missed it and anyone else has found it, let me know!

[2020-06-22 21:31] alexvitoriano commented on #119
Here!

[2020-06-22 22:45] brminnick commented on #119
Thanks Alex!!! 🎉

[2020-06-23 03:31] alexvitoriano commented on #119
If I can help more, just ping me!

[2020-06-23 03:34] #110 closed

[2020-06-23 17:43] #105 closed

[2020-06-23 17:43] #119 closed

[2020-06-23 17:53] brminnick opened #132 "Add Greek Translations"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-23 17:57] brminnick opened #133 "Add Bosnian Translations"
GitTrends provides i18n using RESX.

More information on using RESX with Xamarin.Forms can be found here:
[https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals/localization/text?WT.mc_id=gittrends-github-bramin)

All of the `.resx` files can be found in the **GitTrends.Mobile.Common.Constants** folder

[2020-06-23 17:58] almirvuk commented on #133
Can I take this one? 😊

[2020-06-23 17:59] brminnick commented on #133
Thanks Almir!!!

[2020-06-24 16:08] bricefriha commented on #125
Is this bug also on IOS? @Pujolsluis

[2020-06-24 16:33] brminnick commented on #125
Yup - it is a problem on iOS too.

I’m using `LineBreakMode.WordWrap`, so it _should_ wrap the text to the next line.

I haven’t had a chance to dig into it yet, so I’m not sure exactly why it is happening.

https://github.com/brminnick/GitTrends/blob/d6f431968d6c1068fd294877fc2da5a1dba65ec9/GitTrends/Pages/Onboarding/BaseOnboardingContentPage.cs#L121

[2020-06-24 19:26] bricefriha commented on #125
Well, if you want I can check this out too

[2020-06-26 18:53] brminnick commented on #125
Fixed the Grid Layout Row Height https://github.com/brminnick/GitTrends/commit/92ae84794f7208c0891fda451918d22330b27e7a

[2020-06-26 18:53] #125 closed

[2020-06-26 19:22] #114 closed

[2020-06-26 19:30] brminnick commented on #124
Added ✅

I'll reach out for the translations

[2020-06-26 19:30] #124 closed

[2020-06-28 16:24] #133 closed

[2020-06-30 21:17] virsanna commented on #128
@brminnick Done :)
https://github.com/brminnick/GitTrends/pull/135

[2020-07-03 16:28] #128 closed

[2020-07-03 17:44] brminnick opened #137 "Referring Sites Page Title Bounds"
On iOS, when the ReferringSitesPage title is longer than the title bar, it falls out of bounds

![image](https://user-images.githubusercontent.com/13558917/86489744-1bb70500-bd1a-11ea-8ac3-d72c84ab3f3e.png)

[2020-07-15 00:18] #137 closed

[2020-07-19 06:30] VincentH-Net opened #145 "Issue changed to discussion gives error"
Issue 119 in the MAUI repo was recently changed to a discussion:

https://github.com/dotnet/maui/issues/119

If you paste this issue url in the browser, the discussion is shown.

But if you open this blog post:

https://devblogs.microsoft.com/xamarin/c-sharp-markup-for-xamarin-forms/

And then at the end of the post tap on the "C# Markup for MVU and MVVM" link to that issue, GitTrends opens with a

[2020-07-22 17:50] brminnick commented on #145
Hey @VincentH-Net!

I'm a bit confused - Is this a problem in GitTrends?

[2020-07-22 18:04] VincentH-Net commented on #145
Well, the link works if you pasye it in the browser address bar, but if you have gittrends installed it will automatically open when you tap on the link  (on android anyway) and then fail, which effetively breaks the link  for anyone who has gittrends installed on their phone.

Anyway I supplied repro info so it should be straightforward to find out what is happening.

Do you support discussions?

[2020-07-22 18:06] brminnick commented on #145
Where is the link? Is this a link in the GitTrends repo?

[2020-07-23 15:59] VincentH-Net commented on #145
Link is in many web pages. The issue description gives an example repro where the link is in a blog post:

[2020-07-23 17:17] brminnick commented on #145
Yes, I read those steps the initial writeup and am unable to reproduce the error.

Please share more-specific reproduction steps and/or a screen capture.

Here are my screen captures showing that the **C# Markup for MVU and MVVM** link opens in the browser as expected:

| Mobile (iOS Safari) | Desktop (macOS Safari) |
| ------------------- | ------------------------ |
| ![ScreenFlow2](https://user

[2020-07-23 19:30] VincentH-Net commented on #145
My repro is on Android 9, Galaxy S8:
In chrome:
![Screenshot_20200723-212432_Chrome.jpg](https://user-images.githubusercontent.com/1872271/88330382-9b3d6000-cd2b-11ea-9985-cc40ba73c639.jpg)

After tapping on the link:

![Screenshot_20200723-212445_GitHub.jpg](https://user-images.githubusercontent.com/1872271/88330327-86f96300-cd2b-11ea-9fb3-da58faaaf0b7.jpg)

[2020-07-23 20:44] brminnick commented on #145
Thanks Vincent!

I confirmed on Android that the link opens the [GitHub mobile app](https://play.google.com/store/apps/details?id=com.github.android&hl=en_US), not GitTrends.

![Screenshot_20200723-133710](https://user-images.githubusercontent.com/13558917/88336764-6ceb6080-ccea-11ea-96a6-aea3e1eae54e.png)
![Screenshot_20200723-133851](https://user-images.githubusercontent.com/13558917/88336769-6e

[2020-07-23 20:44] #145 closed

[2020-07-26 17:12] VincentH-Net commented on #145
Oops, my bad.
I should have known that an app created fully in C# could not contain such an obvious bug ;-)

[2020-08-22 17:14] Pujolsluis opened #149 "UI/UX Proposals for About Page, Favorites, and Star Tracking for v2.0"
Will be creating a few proposals to add new features for our v2.0 release.

- About Page #85
- Favorite Repositories #35
- Star Tracker #33

[2020-08-23 21:39] Pujolsluis commented on #149
Notes from initial Teams meeting with @brminnick , on requirement and effort analysis to implement features:

**Favorite Repos:**

- Swipe To Action (left to right)?
- Icon?
- Or Swipe reveal ?
- How to do it, store locally and pull in information from the cloud, add IsFavorite column.

**Star Tracking:**

- Segmented control in Repo details? Trends, Stars
- If someone sorts by stars and they go i

[2020-10-06 15:50] brminnick commented on #122
Hi @jwoeste!

Are you still able to complete the Norwegian translations? Appreciate the help!!!

[2020-10-06 15:50] brminnick commented on #121
Hi @jwoeste!

Are you still able to complete the Norwegian translations? Appreciate the help!!!

[2020-10-06 15:50] brminnick commented on #120
Hi @jwoeste!

Are you still able to complete the Danish translations? Appreciate the help!!!

[2020-10-16 22:45] saamerm opened #152 "Implement In-App Review for Android"
* Android now supports in-app reviews too since August 2020 through the [Play Core library](https://developer.android.com/guide/playcore/in-app-review)
* The app uses in app reviews for iOS
* Let's create a consistent user experience by showing in-app reviews for Android as well

[2020-10-16 23:34] saamerm opened #154 "iOS 14 IndicatorView Disappeared"
* Built the app locally on my simulator and did not see the Indicator view on the device in the walkthrough flow.
* Users now don't know they can swipe through, they only see a skip button
* Actual Behavior: Little dots from the indicator view are not visible anymore
* Expected Behavior: Displays the 4/5 dots showing a carousel style navigation

![Simulator Screen Shot - iPhone 8 - 2020-10-16 at 1

[2020-10-16 23:38] brminnick commented on #149
Star History Chart Notes:
- Show 14-Days of Data or Show 10 Star Dates most-recent (or use statistical regression/variance )
   - Allow user to zoom out to see complete star history (if possible)
- Ensure the chart extends through current day
- Empty State for 0 Stars
- Use a rolling average to smooth the curve
  - Can SyncFusion do this automatically for us?
- Include the Year in the X-Axis

[2020-10-16 23:43] saamerm commented on #94
@Happypig375 GitHub only provides 2 weeks worth of data, and anything longer than that would cost money, as it would require storing the data in the cloud.

[2020-10-16 23:56] brminnick commented on #154
Thanks Saamer!

Yup - this is a known issue in Xamarin.Forms + iOS 14:
 https://github.com/xamarin/Xamarin.Forms/issues/12318

I included a compiler `#error` here to ensure I don't push it to the AppStore before the Xamarin.Forms team updates with the fix!
https://github.com/brminnick/GitTrends/blob/e8a0cae3e86b965bf9638c99c266f51d98af5f05/GitTrends/Pages/Onboarding/BaseOnboardingContentPage.cs#L1

[2020-10-17 00:00] brminnick commented on #85
Include GitHub's two-week limit on Views/Clones data:
https://github.com/isaacs/github/issues/399

[2020-10-23 23:07] Pujolsluis opened #156 "[BUG] Referring Sites Empty State Title, Description and Infographic Bugs"
Referring Sites Empty state has the following issues to be resolved:

- Title & Description Text is not showing up anymore.
- Image resource for the empty state has its trees of the same light gray color as the new light theme background color, hence making it look like it's blended into the background. See screenshot below:
![image](https://user-images.githubusercontent.com/16939480/97060899-ed78

[2020-10-23 23:20] brminnick opened #157 "Handle GraphQL Maximum API Request"
`ExecuteGraphQLRequest` throws `Exception` with `Exception.Message` stating that the app has hit the maximum API request limit:
https://github.com/brminnick/GitTrends/blob/a67c54652fdbefaa32a2a8a7389e9c5aaeca12c2/GitTrends/Services/GitHubGraphQLApiService.cs#L151

This Exception is not currently handled/caught in the proper catch block:
https://github.com/brminnick/GitTrends/blob/a67c54652fdbefaa3

[2020-10-24 00:38] #156 closed

[2020-10-24 02:24] #157 closed

[2020-10-24 02:26] brminnick commented on #33
In progress on the Star-History-UI branch: https://github.com/brminnick/GitTrends/tree/Star-History-UI

[2020-10-24 22:34] brminnick opened #160 "Android SearchView Button Missing in Toolbar"
![Screenshot_1603577901](https://user-images.githubusercontent.com/13558917/97094761-ac3c8c80-160c-11eb-81dd-29c83f610692.png)

[2020-10-29 11:54] jsuarezruiz commented on #154
@brminnick https://github.com/xamarin/Xamarin.Forms/pull/12654

[2020-10-31 18:29] #160 closed

[2020-10-31 18:44] #154 closed

[2020-11-05 22:39] #35 closed

[2020-11-18 02:15] #33 closed

[2020-11-18 09:47] haiduong741 opened #171 "Use Safe Area in IOS not working with Page Search"
I have PageSeachRenderer in IOS Renderer same you. But it content not working inside SafeArea. How to fix that?
![image](https://user-images.githubusercontent.com/37478492/99514079-ea379100-29bd-11eb-9c63-a7ed1560554e.png)

[2020-12-07 14:34] kristofberge opened #175 "Typo in the name of MaximimApiRequestsReachedEventArgs"
Should be MaximumApiRequestsReachedEventArgs

[2020-12-07 19:05] #175 closed

[2020-12-07 21:18] brminnick commented on #171
Thanks @haiduong741!

It looks like the original SearchPageRenderer didn't accommodate the UISearchController height.

The work-around is to add the `UISearchController` height to the `ContentPage.Padding`

[code]

[2020-12-07 21:18] #171 closed

[2020-12-07 21:23] brminnick commented on #171
I've also updated this blog post to include the work-around:

**Adding a Search Bar to Xamarin.Forms.NavigationPage**
https://codetraveler.io/2020/10/31/adding-a-search-bar-to-xamarin-forms-navigationpage/

[2020-12-09 23:15] brminnick commented on #149
Closing this and moving About Page to v2.1.0 #85

[2020-12-09 23:15] #149 closed

[2020-12-16 23:41] brminnick commented on #85
From #149:

About Us:

- Summary of GitTrends
- Direct link to the repo project in the app.
- Direct link to suggest features and bugs.
- Contributors of the app
- Other page in About Us, for Libraries used kind of like the credits at the end of a movies

[2020-12-17 21:49] brminnick opened #178 "Update Bosnian Translations for v2.0"
### Tasks

- [ ] All work done on [Release-v2.0 Branch](https://github.com/brminnick/GitTrends/tree/Release-v2.0)

- AboutPageConstants
  - [ ] Create `AboutPageConstants.bs.resx`
  - [ ] Add `About`
- EmptyDataViewConstantsInternal
  - [ ] Add `Congratulations`
  - [ ] Add `ZeroStarsEmptyDataViewDescription1`
  - [ ] Add `ZeroStarsEmptyDataViewDescription2`
  - [ ] Add `ZeroStarsEmptyDataViewDesc

[2020-12-17 21:56] brminnick opened #179 "Update German Translation for v2.0"
### Tasks
- AboutPageConstants
  - [x] Create `AboutPageConstants.de.resx`
  - [x] Add `About`
- EmptyDataViewConstantsInternal
  - [x] Add `Congratulations`
  - [x] Add `ZeroStarsEmptyDataViewDescription1`
  - [x] Add `ZeroStarsEmptyDataViewDescription2`
  - [x] Add `ZeroStarsEmptyDataViewDescription3`
  - [x] Add `FirstStar`
  - [x] Add `NoStarsYet`
- ThemeConstants
  - [x] Create  `ThemeConstan

[2020-12-17 21:56] almirvuk commented on #178
Can I do this one, please? 😊

[2020-12-17 22:01] brminnick opened #180 "Update Spanish Translations for v2.0"
### Tasks

- [ ] All work done on [Release-v2.0 Branch](https://github.com/brminnick/GitTrends/tree/Release-v2.0)

- AboutPageConstants
  - [ ] Create `AboutPageConstants.es.resx`
  - [ ] Add `About`
- EmptyDataViewConstantsInternal
  - [ ] Add `Congratulations`
  - [ ] Add `ZeroStarsEmptyDataViewDescription1`
  - [ ] Add `ZeroStarsEmptyDataViewDescription2`
  - [ ] Add `ZeroStarsEmptyDataViewDesc

[2020-12-17 22:02] brminnick commented on #178
Thanks @almirvuk!

[2020-12-17 22:04] brminnick opened #181 "Update French Translations for v2.0"
### Tasks

- [ ] All work done on [Release-v2.0 Branch](https://github.com/brminnick/GitTrends/tree/Release-v2.0)

- AboutPageConstants
  - [ ] Create `AboutPageConstants.fr.resx`
  - [ ] Add `About`
- EmptyDataViewConstantsInternal
  - [ ] Add `Congratulations`
  - [ ] Add `ZeroStarsEmptyDataViewDescription1`
  - [ ] Add `ZeroStarsEmptyDataViewDescription2`
  - [ ] Add `ZeroStarsEmptyDataViewDesc

[2020-12-17 22:07] brminnick commented on #179
Via @lothrop:

[code]

[code]

[2020-12-17 22:08] brminnick opened #182 "Update Dutch Translations for v2.0"
### Tasks

- [ ] All work done on [Release-v2.0 Branch](https://github.com/brminnick/GitTrends/tree/Release-v2.0)

- AboutPageConstants
  - [ ] Create `AboutPageConstants.nl.resx`
  - [ ] Add `About`
- EmptyDataViewConstantsInternal
  - [ ] Add `Congratulations`
  - [ ] Add `ZeroStarsEmptyDataViewDescription1`
  - [ ] Add `ZeroStarsEmptyDataViewDescription2`
  - [ ] Add `ZeroStarsEmptyDataViewDesc

[2020-12-17 22:12] brminnick opened #183 "Update Portuguese Translations for v2.0"
### Tasks

- [x] All work done on [Release-v2.0 Branch](https://github.com/brminnick/GitTrends/tree/Release-v2.0)

- AboutPageConstants
  - [x] Create `AboutPageConstants.pt.resx`
  - [x] Add `About`
- EmptyDataViewConstantsInternal
  - [ ] Add `Congratulations`
  - [ ] Add `ZeroStarsEmptyDataViewDescription1`
  - [ ] Add `ZeroStarsEmptyDataViewDescription2`
  - [ ] Add `ZeroStarsEmptyDataViewDesc

[2020-12-17 22:15] brminnick opened #184 "Update Russian Translations for v2.0"
### Tasks

- [ ] All work done on [Release-v2.0 Branch](https://github.com/brminnick/GitTrends/tree/Release-v2.0)

- AboutPageConstants
  - [ ] Create `AboutPageConstants.ru.resx`
  - [ ] Add `About`
- EmptyDataViewConstantsInternal
  - [ ] Add `Congratulations`
  - [ ] Add `ZeroStarsEmptyDataViewDescription1`
  - [ ] Add `ZeroStarsEmptyDataViewDescription2`
  - [ ] Add `ZeroStarsEmptyDataViewDesc

[2020-12-17 22:17] brminnick opened #185 "Update Ukrainian Translations for v2.0"
### Tasks

- [ ] All work done on [Release-v2.0 Branch](https://github.com/brminnick/GitTrends/tree/Release-v2.0)

- AboutPageConstants
  - [ ] Create `AboutPageConstants.uk.resx`
  - [ ] Add `About`
- EmptyDataViewConstantsInternal
  - [ ] Add `Congratulations`
  - [ ] Add `ZeroStarsEmptyDataViewDescription1`
  - [ ] Add `ZeroStarsEmptyDataViewDescription2`
  - [ ] Add `ZeroStarsEmptyDataViewDesc

[2020-12-17 22:17] bricefriha commented on #181
I'm on it 😉

[2020-12-17 22:20] brminnick commented on #181
Thanks Brice!!

[2020-12-17 22:49] #179 closed

[2020-12-17 23:48] brminnick commented on #185
from @virsanna:

[code]

[2020-12-18 01:59] #152 closed

[2020-12-18 02:01] brminnick commented on #183
From @alexvitoriano:

[code]

[code]

[2020-12-18 02:39] #183 closed

[2020-12-18 02:47] #185 closed

[2020-12-18 03:44] #184 closed

[2020-12-18 04:34] Pujolsluis commented on #180
- About -> Acerca De
- Congratulations! -> Felicidades!
- Invite the community to check out your great work! -> ¡Invita a la comunidad a ver tu gran trabajo!
- Share updates with friends and get your first star! -> ¡Comparte actualizaciones con amigos y obtén tu primera estrella!
- No worries! Keep up the good work and the stars come! -> ¡No te preocupes, Sigue con el buen trabajo y llegarán las e

[2020-12-18 15:12] #180 closed

[2020-12-18 15:23] almirvuk commented on #178
@brminnick I opened a new pull request based on a branch from v2.0, can you link that one to this issue :)

[2020-12-18 18:11] brminnick commented on #178
Perfect - thanks again Almir!!

[2020-12-18 18:11] #178 closed

[2020-12-18 18:11] #182 closed

[2020-12-19 21:34] #181 closed

[2020-12-19 21:36] brminnick opened #191 "Translate TOTAL Button"
- [ ] Add Translations for TOTAL Button
- [ ] Dynamically size TOTAL Button to width of each language's text

![IMG_DBEC857C70E6-1](https://user-images.githubusercontent.com/13558917/102700082-16357480-41ff-11eb-8c39-222d2a00d5ab.jpeg)

[2021-02-05 19:56] bricefriha commented on #191
@brminnick Sorry, I have just seen the issue.
If you're too busy, I can take a look at it if you want 😉

[2021-02-05 20:59] brminnick commented on #191
No worries, Bryce!

I've got a bunch more translations coming your way for the upcoming release of v2.1.

We added an About Page which contains a bunch of text to be translated 💯

You can get a sneak peak of it on the Release-v2.1 Branch: https://github.com/brminnick/GitTrends/blob/Release-v2.1/GitTrends/Pages/AboutPage.cs

[2021-02-06 08:57] bricefriha commented on #191
Alright!
I was also talking about resizing dynamically the Total button 😁

But of course, you can count on me for the translation 😉

[2021-02-06 16:58] brminnick commented on #191
Ah - of course! That'd be great if you'd like to tackle the auto-resizing 💯

I'll assign it to you 👍

[2021-02-12 03:12] #85 closed

[2021-02-14 16:38] bricefriha commented on #191
@brminnick
So, I try to set the size of the button in the constructor of FloatingActionTextButton. Thus, what I'm trying to do is to get the length of the property Text and adapt the size accordingly.

The issue though is that every time a new instance of FloatingActionTextButton is been created the value of Text is empty.
Is it normal or am I missing something? 😅

[2021-02-14 17:18] brminnick commented on #191
Yea, this is a tricky one!

I would create a view-to-view binding that binds the Text to the WidthRequest. This will allow the control to resize itself when the text is updated.

[2021-02-14 22:03] wischi-chr opened #214 "List organisation repositories"
**Is your feature request related to a problem? Please describe.**
Kind of. I just tried the app (on android) and also granted access to some organisations, but sadly the organisation repos don't show up.

**Describe the solution you'd like**
If during the oauth grant the user grants access to one or more organisations, the repositories from those organisations should also be listed.

**Describe a

[2021-02-14 22:18] brminnick commented on #214
Thanks for the feedback!

Question - In the GitHub web portal, can you confirm that you have access to the `Insights` tab for the missing repos? (example below)

The way GitHub's permissions work, you must have [Collaborator access](https://docs.github.com/en/github/setting-up-and-managing-your-github-user-account/permission-levels-for-a-user-account-repository#collaborator-access-for-a-repository

[2021-02-15 11:02] wischi-chr commented on #214
Yes, I have access to that.
For example screenshot for [OpenMacroBoard/StreamDeckSharp](https://github.com/OpenMacroBoard/StreamDeckSharp)

![image](https://user-images.githubusercontent.com/2495113/107938091-2199e780-6f85-11eb-85fe-eff9ce32882d.png)

[2021-02-17 09:17] bricefriha commented on #191
Thanks, I'm going to try this instead 😉

[2021-02-23 18:21] brminnick commented on #214
Thanks @wischi-chr!

Sounds like a bug.

Just to ensure we're on the same page, can you confirm the following are true?

- [ ] `OpenMacroBoard` does _not_ appear on your **Repositories** list
- [ ] You granted Organization access to `OpenMacroBoard` when connecting GitTrends to your GitHub Account (screen shot example)
![Simulator Screen Shot - iPhone 12 - 2021-02-23 at 10 16 56](https://user-imag

[2021-02-25 07:03] rscholey opened #222 "Would there be an advantage to moving the service setups from MainActivity and AppDelegate to the App class constructor?"
I see in the Android MainActivity and the iOS AppDelegate you have the same code:

            var themeService = ContainerService.Container.Resolve<ThemeService>();
            var languageService = ContainerService.Container.Resolve<LanguageService>();
            var splashScreenPage = ContainerService.Container.Resolve<SplashScreenPage>();
            var analyticsService = ContainerService.Co

[2021-02-25 16:24] #222 closed

[2021-02-26 21:34] #191 closed

[2021-03-03 02:05] brminnick opened #227 "v2.1.0 Translations"
### Describe the bug

The following RESX files are incomplete for the v2.1.0 release:
- [x] AboutPageConstants.bs.resx
- [x] AboutPageConstants.de.resx
- [x] AboutPageConstants.en.resx
- [x] AboutPageConstants.es.resx
- [x] AboutPageConstants.fr.resx
- [x] AboutPageConstants.nl.resx
- [x] AboutPageConstants.pt.resx
- [x] AboutPageConstants.ru.resx
- [x] AboutPageConstants.uk.resx
- [x] RepositoryP

[2021-03-04 18:52] AlexGipp commented on #227
@brminnick I could create a german translation, should i open a ticket or is someone already working on that?

[2021-03-04 18:55] AlexGipp commented on #89
I would like to try this, can i find more information about what needs to be done somewhere?

[2021-03-04 18:57] andreas-nesheim commented on #122
I'll help!

[2021-03-04 20:08] brminnick commented on #227
Thanks @AlexGipp!

@lothrop actually beat you to it! I merged his PR this morning: https://github.com/brminnick/GitTrends/pull/234

[2021-03-04 20:15] AlexGipp commented on #227
Okay, thanks for getting back to me though!

[2021-03-04 20:16] brminnick commented on #122
Thanks @andreas-nesheim!!! Assigned ✅

[2021-03-06 14:33] bricefriha commented on #227
@brminnick I'm currently working on the french translation of the about page 😉

[2021-03-06 17:15] #122 closed

[2021-03-07 19:55] #227 closed

[2021-04-06 19:34] brminnick commented on #214
Closing until more information is provided

[2021-04-06 19:39] brminnick commented on #6
We will investigate desktop support after the release of [.NET MAUI in .NET 6](https://devblogs.microsoft.com/xamarin/the-new-net-multi-platform-app-ui-maui/?WT.mc_id=mobile-0000-bramin)

[2021-04-06 19:43] validity-check commented on #6
I'd love desktop support and I think it would be cool.

[2021-04-08 10:24] flish commented on #214
HI Brandon, just to let you know I'm seeing the same issue on the iOS version, I gave organisation access (I am in two, of which at least one has a public repo that I am an admin on on), but I can only see my @flish public repos in the app - anything I can do to assist debugging?

[2021-04-08 17:50] brminnick commented on #214
Thanks @flish! Reopening to continue the investigation.

Can you confirm that, in your GitHub Developer Settings, that you have granted organization access to the GitTrends OAuth app?

Here's the steps to confirm that:

1. On GitHub.com, select your profile picture
2. In the profile drop-down, select **Settings**
<img width="891" alt="Screen Shot 2021-04-08 at 10 38 15 AM" src="https://user-images

[2021-04-08 17:56] flish commented on #214
Confirmed, both orgs in my profile have access, see below;

![image](https://user-images.githubusercontent.com/3818800/114074288-20f24300-989c-11eb-9e70-367489bf54c1.jpeg)

[2021-04-15 10:12] leeuwis commented on #214
Can confirm that I'm experiencing the same issue, the organization displays in the "Organization access" but the "Repositories" list in the app is empty.

<img width="238" alt="Screenshot 2021-04-15 at 12 11 23" src="https://user-images.githubusercontent.com/19343479/114853142-c7ca6800-9de3-11eb-89b4-02a9f0744cc9.png">

[2021-04-19 21:42] brminnick commented on #214
Thanks all for confirming!

I'll dig into the GitHub APIs / OAuth flows to figure out a fix.

I can't jump on this bug fix right away, so I've also added the `Help Wanted` tag in case anyone is able to help out! Even linking to a GitHub Doc on how to implement it would be super helpful!

[2021-06-06 22:39] #214 closed

[2021-06-18 14:54] aritchie opened #278 "Shiny Updates for project"
**Is your feature request related to a problem? Please describe.**
No problem - just some additions

**Describe the solution you'd like**
1) Add Shiny.Push.AzureNotificationHubs - wraps all logic away from your appdelegate
2) Use Shiny background jobs and separate your background fetch service into 3 different jobs.  Will allow for easier testing.
3) Remove autofac and use Microsoft.Extension.Depe

[2021-06-24 01:03] #278 closed

[2021-07-02 06:23] gqqnbig commented on #6
I concur. As a developer, I'm constantly sitting in front of a computer writing code and checking other things. It's cumbersome for me to bring a smartphone with me.

[2021-07-26 09:10] lindexi opened #295 "Text overlap"
**Describe the bug**
Text overlap

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the main page
2. Click on any repo

**Expected behavior**
The `repositiories` text can be removed

**Screenshots**
![](https://user-images.githubusercontent.com/16054566/126964135-cb3e712b-6ae1-4b12-8e56-4e60bc69b7ac.png)

**Smartphone (please complete the following information):**
 - Device: iPhoneX
 - O

[2021-07-26 16:41] brminnick commented on #295
Thanks for reporting this @lindexi!

I'm not able to reproduce this on my iPhone X iOS 13.1.2 simulator (videos below).

1. Could you try force-quitting GitTrends and re-opening it. Does that resolve the issue?
2. Could share additional steps to reproduce the issue?

| iOS 13.1.2 | iOS 14.5 |
|-----------|---------|
| ![Simulator Screen Recording - iPhone X - 2021-07-26 at 11 38 58](https://user-i

[2021-07-27 00:54] lindexi commented on #295
@brminnick  Thank you. And it works well when re-opening it.

[2021-07-27 00:55] lindexi commented on #295
@brminnick

Sorry. I just open the application and click any repo.

[2021-08-24 11:49] allunderone opened #310 "Bdougieyo"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-24 12:34] allunderone opened #311 "Bdougieyo"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-24 12:51] #310 closed

[2021-09-20 16:42] #311 closed

[2021-09-20 16:43] #295 closed

[2021-11-12 22:49] brminnick opened #344 "Update Spanish Translations for v2.3.0"
## Tasks

- ManageOrganizationsConstants
  - [ ] Create `ManageOrganizationsConstants.es.resx`
  - [ ] Add `GitHubOrganizationsTitle`  Key
    - [ ] Translate `Organizations` Value
  - [ ] Add `GitHubOrganizationsDescription`  Key
    - [ ] Translate `GitHub Organizations are shared accounts where teams can collaborate across many projects` Value
  - [ ] Add `GitTrendsAccessTitle`  Key
    - [ ] T

[2021-11-12 22:51] brminnick opened #345 "Update Bosnian Translations for v2.3.0"
## Tasks

- ManageOrganizationsConstants
  - [ ] Create `ManageOrganizationsConstants.bs.resx`
  - [ ] Add `GitHubOrganizationsTitle`  Key
    - [ ] Translate `Organizations` Value
  - [ ] Add `GitHubOrganizationsDescription`  Key
    - [ ] Translate `GitHub Organizations are shared accounts where teams can collaborate across many projects` Value
  - [ ] Add `GitTrendsAccessTitle`  Key
    - [ ] T

[2021-11-12 22:52] brminnick opened #346 "Update Czech Translations for v2.3.0"
## Tasks

- ManageOrganizationsConstants
  - [ ] Create `ManageOrganizationsConstants.cs.resx`
  - [ ] Add `GitHubOrganizationsTitle`  Key
    - [ ] Translate `Organizations` Value
  - [ ] Add `GitHubOrganizationsDescription`  Key
    - [ ] Translate `GitHub Organizations are shared accounts where teams can collaborate across many projects` Value
  - [ ] Add `GitTrendsAccessTitle`  Key
    - [ ] T

[2021-11-12 22:52] brminnick opened #347 "Update German Translations for v2.3.0"
## Tasks

- ManageOrganizationsConstants
  - [ ] Create `ManageOrganizationsConstants.de.resx`
  - [ ] Add `GitHubOrganizationsTitle`  Key
    - [ ] Translate `Organizations` Value
  - [ ] Add `GitHubOrganizationsDescription`  Key
    - [ ] Translate `GitHub Organizations are shared accounts where teams can collaborate across many projects` Value
  - [ ] Add `GitTrendsAccessTitle`  Key
    - [ ] T

[2021-11-12 22:53] brminnick opened #348 "Update French Translations for v2.3.0"
## Tasks

- ManageOrganizationsConstants
  - [ ] Create `ManageOrganizationsConstants.fr.resx`
  - [ ] Add `GitHubOrganizationsTitle`  Key
    - [ ] Translate `Organizations` Value
  - [ ] Add `GitHubOrganizationsDescription`  Key
    - [ ] Translate `GitHub Organizations are shared accounts where teams can collaborate across many projects` Value
  - [ ] Add `GitTrendsAccessTitle`  Key
    - [ ] T

[2021-11-12 22:54] brminnick opened #349 "Update Norwegian Translations for v2.3.0"
## Tasks

- ManageOrganizationsConstants
  - [ ] Create `ManageOrganizationsConstants.nb.resx`
  - [ ] Add `GitHubOrganizationsTitle`  Key
    - [ ] Translate `Organizations` Value
  - [ ] Add `GitHubOrganizationsDescription`  Key
    - [ ] Translate `GitHub Organizations are shared accounts where teams can collaborate across many projects` Value
  - [ ] Add `GitTrendsAccessTitle`  Key
    - [ ] T

[2021-11-12 22:54] brminnick opened #350 "Update Dutch Translations for v2.3.0"
## Tasks

- ManageOrganizationsConstants
  - [ ] Create `ManageOrganizationsConstants.nl.resx`
  - [ ] Add `GitHubOrganizationsTitle`  Key
    - [ ] Translate `Organizations` Value
  - [ ] Add `GitHubOrganizationsDescription`  Key
    - [ ] Translate `GitHub Organizations are shared accounts where teams can collaborate across many projects` Value
  - [ ] Add `GitTrendsAccessTitle`  Key
    - [ ] T

[2021-11-12 22:55] brminnick opened #351 "Update Portuguese Translations for v2.3.0"
## Tasks

- ManageOrganizationsConstants
  - [ ] Create `ManageOrganizationsConstants.pt.resx`
  - [ ] Add `GitHubOrganizationsTitle`  Key
    - [ ] Translate `Organizations` Value
  - [ ] Add `GitHubOrganizationsDescription`  Key
    - [ ] Translate `GitHub Organizations are shared accounts where teams can collaborate across many projects` Value
  - [ ] Add `GitTrendsAccessTitle`  Key
    - [ ] T

[2021-11-12 22:55] brminnick opened #352 "Update Russian Translations for v2.3.0"
## Tasks

- ManageOrganizationsConstants
  - [ ] Create `ManageOrganizationsConstants.ru.resx`
  - [ ] Add `GitHubOrganizationsTitle`  Key
    - [ ] Translate `Organizations` Value
  - [ ] Add `GitHubOrganizationsDescription`  Key
    - [ ] Translate `GitHub Organizations are shared accounts where teams can collaborate across many projects` Value
  - [ ] Add `GitTrendsAccessTitle`  Key
    - [ ] T

[2021-11-12 22:56] brminnick opened #353 "Update Turkish Translations for v2.3.0"
## Tasks

- ManageOrganizationsConstants
  - [ ] Create `ManageOrganizationsConstants.tr.resx`
  - [ ] Add `GitHubOrganizationsTitle`  Key
    - [ ] Translate `Organizations` Value
  - [ ] Add `GitHubOrganizationsDescription`  Key
    - [ ] Translate `GitHub Organizations are shared accounts where teams can collaborate across many projects` Value
  - [ ] Add `GitTrendsAccessTitle`  Key
    - [ ] T

[2021-11-12 22:56] brminnick opened #354 "Update Ukrainian Translations for v2.3.0"
## Tasks

- ManageOrganizationsConstants
  - [ ] Create `ManageOrganizationsConstants.uk.resx`
  - [ ] Add `GitHubOrganizationsTitle`  Key
    - [ ] Translate `Organizations` Value
  - [ ] Add `GitHubOrganizationsDescription`  Key
    - [ ] Translate `GitHub Organizations are shared accounts where teams can collaborate across many projects` Value
  - [ ] Add `GitTrendsAccessTitle`  Key
    - [ ] T

[2021-11-12 23:31] almirvuk commented on #345
I will cover this one 😊

[2021-11-12 23:36] brminnick commented on #345
Thanks @almirvuk! Assigned ✅

[2021-11-13 01:23] alexvitoriano commented on #351
Message:
    System.AggregateException : One or more errors occurred. (The language "bs" is not specified in "GitTrends.Mobile.Common.Constants.ManageOrganizationsConstants".) (The language "cs" is not specified in "GitTrends.Mobile.Common.Constants.ManageOrganizationsConstants".) (The language "de" is not specified in "GitTrends.Mobile.Common.Constants.ManageOrganizationsConstants".) (The languag

[2021-11-13 01:23] alexvitoriano commented on #351
I'll try to create the PR right now

[2021-11-13 17:09] #351 closed

[2021-11-14 01:27] #346 closed

[2021-11-14 12:58] lothrop commented on #347
Starting work on this now.

[2021-11-14 13:54] lothrop commented on #347
The word "Request" in `EnableOrganizationsDescription` is likely something on the Github website. I don't know and if it is localized. How can I find out?

[2021-11-14 14:10] lothrop commented on #347
See #358.

[2021-11-14 23:42] brminnick commented on #347
Hey Kerry! This is the "Request" that we're translating in the app:

https://github.com/settings/connections/applications/6d44a70de8f477d773
<img width="1251" alt="Screen Shot 2021-11-14 at 3 41 13 PM" src="https://user-images.githubusercontent.com/13558917/141703495-16b1eefa-5e0b-4e2f-9726-d35df0f27f84.png">
16

[2021-11-15 00:15] #352 closed

[2021-11-15 00:22] #344 closed

[2021-11-15 00:24] #347 closed

[2021-11-15 07:00] lothrop commented on #347
See #361.

[2021-11-15 16:47] #353 closed

[2021-11-15 16:49] #350 closed

[2021-11-16 00:45] #349 closed

[2021-11-16 08:48] #354 closed

[2021-11-23 21:51] #345 closed

[2021-11-30 15:27] #348 closed

[2021-12-01 10:45] ramonbrugman opened #380 "Fix demo naar mn gewone account"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Nick wil je ze even in het Nederlands zetten in mn telefoon en ook het demo account koppelen aan mijn gewone account thnx

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alterna

[2021-12-01 10:56] brminnick commented on #380
Hi @ramonbrugman! Can you elaborate on the problem?

Here the translation that Google Translate provided:

[2022-01-15 01:54] brminnick commented on #380
Closing until more information is provided

[2022-01-15 01:54] #380 closed

[2022-05-17 09:25] Greenday28 opened #464 "Rt"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-05-17 14:53] #464 closed

[2022-08-06 20:18] Giorgi opened #496 "Show number of new starts per week/months"
**Is your feature request related to a problem? Please describe.**
The graph for stars is nice but it's difficult to see when the library was getting more stars or if the library is getting more stars now compared to the previous period.

**Describe the solution you'd like**
Show a chart showing number of new stars per week or month

[2022-08-06 20:32] brminnick commented on #496
Hi @Giorgi!

Could you maybe provide a drawing or an example of what you're looking for?

The Stars chart currently allows you to pinch + zoom to see the star history:
![ezgif-5-82528e76e0](https://user-images.githubusercontent.com/13558917/183265108-d6046911-91c4-4e57-a7e5-519cf205e794.gif)

[2022-08-06 20:43] Giorgi commented on #496
The chart is nice but the number of total stars is (mostly) always increasing so it would be helpful to see how many stars the repo is getting over time (per week or month) It could be a simple bar chart or a line chart.

[2022-08-06 20:52] brminnick commented on #496
Got it.

Where do you recommend adding this 3rd chart? Or would you prefer to replace the current Stars chart with this new chart?

[2022-08-06 20:56] Giorgi commented on #496
Maybe have a switcher on the current Stars chart to switch between the two modes?

[2022-08-06 20:59] brminnick commented on #496
Cool idea! Let me know if you’re interested in implementing it!

I also see that you’re in Tbilisi! Any chance you’d be interested in adding Georgian to the supported languages in GitTrends? All of the translations are defined here in the Constants folder using RESX: https://github.com/brminnick/GitTrends/tree/main/GitTrends.Mobile.Common/Constants

[2022-08-08 14:46] developer9969 opened #497 "Splash screen does not work on android 12 devices"
Hey,
Just to let you know that  if you  run the app against an android 12 device/emulator and you will see a blank screen when loading the app. All good on android when <=11

[2022-08-08 15:07] brminnick commented on #497
Oh goodness! Thank you for letting me know!

I'll prioritize this bug this week 🙌

[2022-08-11 23:16] brminnick commented on #497
It seems Google has changed the way splashscreens work in Android 12:
https://developer.android.com/guide/topics/ui/splash-screen/migrate

[2022-08-12 04:51] developer9969 commented on #497
Hi
Well I have done a bit of research and below are my conclusion

1. We are well screwed.
2. If you have an android 12 device - currently it will only show your app icon
3. if you have a slighter fancier splashscreen - say good bye to it - as it will show cut off
4. The trend before was to use a layer_list and then put an icon there using a separate splash_screen - that is no longer required
5.

[2022-08-12 05:00] developer9969 commented on #497
Ah - forgot the main bit you have to reference
![image](https://user-images.githubusercontent.com/16970109/184287784-08ed1eaf-0ecc-4d23-af02-cb25d628c46d.png)

and  Main Activity - remove any reference to theme in the attribute
and put this             AndroidX.Core.SplashScreen.SplashScreen.InstallSplashScreen(this);  before create

[2022-08-13 23:11] brminnick commented on #497
Turns out the fix is a bit easier than the Android docs let on.

tl;dr - You don't need to add a new NuGet Package; you don't need to create a new style / theme

### Create New Icons
![](https://developer.android.com/static/about/versions/12/images/splash-screen-icon-dimensions.png)

1. For each display density, create a new file, sized 288dp
  - Use [dp to px calculator](http://labs.rampinteracti

[2022-08-13 23:16] #497 closed

[2022-08-15 05:13] developer9969 commented on #497
@brminnick  Let me digest what you did and see if it works for me too :) .
I am pleased that there is another solution I can explore
Can I ask you why /Resources/drawable-v26? Any particular reason?
So for your splash screen youre are using "splashscreenanimatedicon.png" but what about  your "splash_screen.xml" is that still used?

Am I trying to piece together what I need todo and usually I work

[2022-08-15 05:39] brminnick commented on #497
Good Questions!!

### Why Use ` /Resources/drawable-v26`?

The new splash screen resource ([`android:windowSplashScreenAnimatedIcon`](https://github.com/brminnick/GitTrends/blob/438d8b7854bb1e9cab31e05f18d5bbdf6b198a3c/GitTrends.Android/Resources/values/styles.xml#L31)) requires a `adaptive-icon`. However, the `adaptive-icon` API was added in Android API v26. Putting it in the `/drawable-v26` fold

[2022-08-15 07:12] developer9969 commented on #497
FANTASTIC! thanks for this detail explanation, I will try to put first together a noddy blank form and see if all works and if it does than I will roll it out to the real production apps.

I was really stuck on this one - hopefully I get it ....

thanks for your time!

[2022-08-15 23:29] brminnick commented on #497
Here's a screenshot of the finished result:
![ScreenFlow](https://user-images.githubusercontent.com/13558917/184742776-2a3bf115-1ab0-4f5d-8c43-06cf0aafe6f0.gif)

[2022-08-16 04:53] developer9969 commented on #497
wow. Excellent!  one more question - I have seen  you article (brilliant) - Really needed

You say "The splash screen icon should match our app's icon"  . Can the splash image icon be different from the app icon and still work?

thanks

[2022-08-16 04:58] brminnick commented on #497
Thanks for the kind words!

Technically speaking, yes it'll work. But Android's guidance is for them to match. I don't know if Android is enforcing this. They may fail your app when in review before submitting to the App Store. I'm not sure.

[2022-08-16 06:00] developer9969 commented on #497
brilliant thanks!

[2022-09-05 17:27] me355 opened #529 "Meshl"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-05 18:06] #529 closed

[2022-09-26 05:04] brminnick opened #537 "[iOS] Add Encryption Information to Info.plist"
https://developer.apple.com/documentation/bundleresources/information_property_list/itsappusesnonexemptencryption

https://twitter.com/kslazinski/status/1573980451550613504?s=46&t=F_l1tYBFwHzrsCUhp6tgNA

[2022-10-08 00:18] #537 closed

[2022-11-07 13:44] egvijayanand opened #560 "Renamed repo show as duplicate entries."
**Describe the bug**
Renamed repositories show as duplicate entries. The items in the cache need to be revalidated against the server response on refresh.

**To Reproduce**
Steps to reproduce the behavior:
1. Sync with a GitHub account in the App (facing this issue on Android)
2. Now rename a repo in the GitHub
3. Open the GitTrends app and force fresh to bring in new data
4. Both the original and

[2022-11-07 13:54] egvijayanand commented on #560
Screenshot:

The one on the top of the list is the renamed repo and below that is the original one.

<img width="540" alt="GitTrends-Repo-Rename-Issue-1" src="https://user-images.githubusercontent.com/81947404/200326988-9be5471c-6560-42cb-93f6-49ce5d1efcef.png">

[2022-11-24 04:15] me355 opened #580 "> Ghvi"
Was

__Originally posted by @me355 in https://github.com/rokett/Citrix-NetScaler-Exporter/pull/44#issuecomment-1325935779__

[2022-11-24 04:16] #580 closed